<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Crud Application</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .create {
            text-decoration: none;
            border: 1px solid #000;
            color: #fff;
            background-color: #3498db;
            padding: 10px 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            display: inline-block;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: hidden;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        .action {
            display: flex;
            justify-content: space-around;
            
        }

        .edit {
            margin-right: 5px;
        }
        a, button {
            background-color: #3498db;
            color: #fff;
            border: none;
            /* padding: 8px 12px; */
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

        a:hover, button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="container">
        <a class="create" href="/create">Create Product</a>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(products && products.length > 0) { %>
                    <% for(let i in products) { %>
                        <tr>
                            <td><%= i %></td>
                            <td><%= products[i].productName %></td>
                            <td>$<%= products[i].price %></td>
                            <td><%= products[i].description %></td>
                            <td class="action">
                                <a class="edit" href="/update/<%= products[i]._id %>"><button ><i class='bx bx-edit'></i></button></a>
                                <form action="/delete/<%= products[i]._id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class='bx bxs-trash'></i></button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="5">No products found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
